runpod==1.7.7
transformers==4.44.2
timm==1.0.9
einops==0.8.0
kornia
Pillow==9.5.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
scipy==1.13.1
requests==2.32.3
simple-lama-inpainting==0.1.2
huggingface-hub==0.24.6
hf_transfer==0.1.8
